.cursussen {
  text-align: left; /* Hiermee wordt de tekst binnen de .cursussen sectie links uitgelijnd */
}

.cursus {
  margin-bottom: 20px; /* Extra marge toegevoegd tussen cursussen voor een betere leesbaarheid */
}

.cursus-titel, .cursus-beschrijving {
  text-align: left; /* Hiermee wordt de tekst binnen .cursus-titel en .cursus-beschrijving links uitgelijnd */
}
